.chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 629px;
    background-color: #eee;
    padding: 10px;
    box-sizing: border-box;

  }
  
  .messages-container {
    flex-grow: 1;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .user:last-child {
    margin-bottom: 0;
  }
  
  .bot:nth-last-child(2) {
    margin-bottom: 10px;
  }
  
  .chat-form {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .chat-input{
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .submit {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #0062cc;
  }
  