.private-route-message {
    background: linear-gradient(230.77deg, rgba(255, 0, 0, 0.72) -43.38%, rgba(205, 7, 7, 0.72) 52.12%, rgba(253, 182, 0, 0.72) 112.56%);;
  width: 100%;
  background: linear-gradient(230.77deg, rgba(255, 0, 0, 0.72) -43.38%, rgba(205, 7, 7, 0.72) 52.12%, rgba(253, 182, 0, 0.72) 112.56%);
    padding: 20px;
    text-align: center;
    font-size: 54px;
    color: white;
    height: 90vh;  
    align-items: flex-start;
    
  }
  
  .text{
    margin-top: 200px;
    color: #131758;
    font-size: 2.5rem;
    line-height: 55px;
    border: 2px solid #243177;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    
    
  }